.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 3fr 2fr 4fr;
  align-items: stretch;
  padding-top: 50px;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
  margin-bottom: 15px;
  color: #6457f9;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
ul li a {
  color: black;
  text-decoration: none;
}
ul li a:hover {
  color: #6457f9;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}
input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
button {
  background-color: #6457f9;
  color: #ffffff;
}
div.social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
.social i {
  color: #bac6d9;
}
.copyright {
  padding: 1.3em 0em;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-menu {
  float: left;
  margin-top: 10px;
}
.footer-menu a {
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}
.footer-menu a:hover,
.social i:hover {
  color: #6457f9;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
}

.subscribe_btn {
  text-align: center;
  font-weight: 500;
}

input[type="email"] {
  font-weight: 500;
}
